<div class="mt-5">

    <div class="my-4  w-25">
        <label for="" class="my-1">Categorise :</label>
        <select class="form-control" (change)="filterCaregory($event)">
            <option value="all" selected>All</option>
            <option *ngFor="let option of categories" value="{{option}}">{{option}}</option>
        </select>
    </div>

    <div class="row" *ngIf="!loader">
        <div class="col-md-3 col-sm-12" *ngFor="let product of products">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <span class="price">{{product.price}}$</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="text-center w-100" *ngIf="loader">
        <app-spinner></app-spinner>
    </div>
</div>