<div class="card" style="width: 18rem;">
    <div routerLink="/details/{{productData.id}}">
        <img class="card-img-top" src="{{productData.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{productData.title}}</h5>
            <p class="card-text">{{productData.description}}</p>
        </div>
    </div>
    <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
        <a class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark" *ngIf="!addButton"
            (click)="addButton = true">Add to cart</a>
        <div class="d-flex w-50" *ngIf="addButton">

            <input type="number" min="1" class="form-control form-control-sm" [(ngModel)]="amount">
            <button (click)="add()" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">add</button>
        </div>
        <span class="price">{{productData.price}}$</span>
    </div>

</div>