<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{productData.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{productData.title}}</h5>
        <p class="card-text">{{productData.description}}</p>
        <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
            <a class="btn btn-primary" (click)="add()">Go somewhere</a>
            <span class="price">{{productData.price}}$</span>
        </div>
    </div>
</div>